@model Summoner;
@{
    ViewData["Title"] = "Profile";
}
<h1>Profile</h1>

<!-- Currently just displaying some basic info for testing purposes. -->
<div>
    Summoner Name: @Model.Name
</div>
<div>
    Summoner ID: @Model.Id
</div>
