@model ViewModelProfile;
@{
    ViewData["Title"] = "Profile";
}
<h1 class="profile">Profile</h1>

<!-- Currently just displaying some basic info for testing purposes. -->
<div class="summoner-container">
    <div class="summoner-name">
        <div>
            @Model.Summoner.Name
        </div>
        <div>
            Level: @Model.Summoner.SummonerLevel
        </div>
    </div>
    <div class="summoner-icon mt-0">
        <img id="icon" src="~/img/profileicon/@(Model.Summoner.ProfileIconId).png" />
    </div>

</div>

@for (int i = 0; i < 3; i++)
{
    <span>@Model.Masteries[i].ChampionID</span>
}