@using MyLeagueDashboard.Models;
@model FindModel; 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">League of Legends Dashboard</h1>
    <p>Enter your summoner name to view profile. Currently only working for NA Region.</p>
</div>

<div class="flex-row d-flex align-content-center justify-content-center">
    <div class="d-inline-flex mx-auto mt-5 font-weight-bold form-container align-content-center justify-content-center">
        <div class="summoner-form mx-3">
            @using (Html.BeginForm("Profile", "Summoners", FormMethod.Post, new { @class="form-form"}))
            {
                <div class="form-dropdown">
                    @Html.DropDownListFor(m => m.Region, new List<SelectListItem>
                        { new SelectListItem { Text="NA", Value="na1", Selected = true }
                        }, "Region", new { @class="form-dropdown-i"}
                   )
                </div>
                <div class="form-textbox">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-textbox-i" })
                </div>
                <div class="form-button">
                    <input class="btn-form" type="submit" id="findSummoner" value="Find Summoner" />
                </div>
            }
        </div>
    </div>
</div>
