@using MyLeagueDashboard.Models;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">League of Legends Dashboard</h1>
    <p>Enter your summoner name to view profile. Currently only working for NA Region.</p>
</div>

<div class="flex-row d-flex neu-shadow align-content-center justify-content-center">
    <div class="form-group d-inline-flex mx-auto mt-5 font-weight-bold">
        Summoner Name:
        <div class="mx-3">
            @using (Html.BeginForm("Profile", "Summoners"))
            {
                @Html.TextBox("name")
                <input class="btn btn-primary" type="submit" id="findSummoner" value="Find Summoner" />
            }
        </div>
    </div>
</div>
