/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.neu-shadow {
    border-radius: 30px;
    background: #555;
    box-shadow: inset 6px 6px 6px #4f4f4f, inset -6px -6px 6px #5b5b5b;
    /*box-shadow: 6px 6px 10px #4a4a4a, -6px -6px 10px #606060,inset 6px 6px 6px #4f4f4f, inset -6px -6px 6px #5b5b5b;*/
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
    
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Custom css */
.summoner-container {
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

h1 .profile {
    font-size: 5em;
}

.summoner-top {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.summoner-name {
    color: gold;
    font-size: 1.5em;
    font-weight: bold;
    width: 70%;
    align-items: center;
    text-align: center;
}

.level {
    font-size: 1em;
    align-items: center;
    text-align: center;
}

.summoner-icon {
    width: 30%;
    border-top-left-radius: 30px;
    display: flex;
}
.level-info {
    width: 100%;
}
.level-left {
    width: 30%;
    background-color: orangered;
    color: gold;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    text-align: center;
}
.level-right {
    width: 70%;
    color: gold;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    text-align: center;
}

.summoner-kda {
    width: 100%;
    
}
.summoner-kda-left {
    width: 30%;
    background-color: orangered;
    color: gold;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    text-align: center;
}
.summoner-kda-right {
    width: 70%;
    color: gold;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    text-align: center;
}

.profile-container {
    max-width: 100%;
}

.mastery-card-container {
    height: 400px;
    display: flex;
}

.mastery-card {
    margin: 10px auto;
}
.mastery-card-image {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
}
.mastery-card-image img {
    width: 100%;
}
.mastery-card-level {
    background-color: orangered;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 30px;
    width: 20%;
}

.mastery-card-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.rank-1 {
    width: 130%;
    margin: 10px;
}


.match {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.match-sum-stats {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    
}
.match-summoner {
    width: 30%;
}

.stat {
    height: 100%;
}

.s-left {
    width: 30%;
    background-color: orangered;
    color: gold;
    font-weight: bold;
    font-size: 1.1em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}
.s-right {
    width: 70%;
    color: gold;
    font-weight: bold;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.team1,.team2 {
    width: 35%;
}
.team2 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.outcome {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.participants {

}
.lose {
    background-color: #FDAFAF;
    color: #FB1010;
}
.win {
    background-color: #BDf9B3;
    color: #00A611;
}

.match-summoner-champ {
    width:30%;
    border-top-left-radius: 30px;
    display:flex;
}
.match-summoner-champ img {
    border-top-left-radius: 30px;
}

.participant {
    max-height: 10%;
    width: 100%;
}
.player-champ-img {
    width: 12%;
    margin: 5px 10px;
}
.player-champ-img img {
    width: 100%;
    display:flex;
    border-radius: 50%;
}
.player-name {
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

.summoner-match-header {
    width: 100%;
    border-bottom: 2px solid #444;
}

.header-right {
    width: 70%;
}
.game-mode {
    font-weight: bold;
    color: gold;
    justify-items: center;
    text-align: center;
    font-size: 1.7em;
    margin-top: 15px;
}
.kda {
    justify-items: center;
    text-align: center;
    font-weight: bold;
    color: gold;
}
.victory-w {
    color: #00A611;
    background-color: #BDf9B3;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #00A611;
    font-weight: bold;
    font-size: 1.1em;
}
.victory-d {
    color: #FB1010;
    background-color: #FDAFAF;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #FB1010;
    font-weight: bold;
    font-size: 1.1em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #222;
    color: orangered;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
